.text-primary {
    color: var( --ion-color-primary ) !important;
}

article-source-name {
    font-size: 12px;
}

.action-sheet-button-share {
    color: var( --ion-color-primary ) !important;
}

.action-sheet-button-cancel {
    color: var( --ion-color-danger ) !important;
}
